<h2>About</h2>
<p>
  <strong>QInfer</strong> supports
  <em>reproducible</em> and <em>accurate</em>
  inference for quantum information processing theory
  and experiments, including:
</p>

<ul>
  <li>Frequency and Hamiltonian learning</li>
  <li>Quantum tomography</li>
  <li>Randomized benchmarking</li>
</ul>

<p>
  Installation:<br>
  <code>pip install qinfer</code>
</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/QInfer/python-qinfer">Source Code</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-book fa-lg main-list-item-icon"></span>
    <a href="http://docs.qinfer.org">Documentation</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-cloud fa-lg main-list-item-icon"></span>
    <a href="http://mybinder.org/repo/qinfer/qinfer-examples">Try Without Installing</a>
  </li>
</ul>
